.chat {
    padding: 16px;
    display: flex;
    flex-direction: row;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.chat:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.chatUserImage,
.chatUserImage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.chatInfo {
    display: flex;
    flex-direction: column;
    color: #536471;
    font-size: 15px;
}

.userInfo {
    color: black;
}

.lastChatDate {
}

.lastChatText {
}
